<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g36_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,188}</string>
                <key>spriteSourceSize</key>
                <string>{158,188}</string>
                <key>textureRect</key>
                <string>{{0,0},{158,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g36_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,188}</string>
                <key>spriteSourceSize</key>
                <string>{158,188}</string>
                <key>textureRect</key>
                <string>{{158,0},{158,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g36_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,188}</string>
                <key>spriteSourceSize</key>
                <string>{158,188}</string>
                <key>textureRect</key>
                <string>{{316,0},{158,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g36_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,188}</string>
                <key>spriteSourceSize</key>
                <string>{158,188}</string>
                <key>textureRect</key>
                <string>{{474,0},{158,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g36_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,188}</string>
                <key>spriteSourceSize</key>
                <string>{158,188}</string>
                <key>textureRect</key>
                <string>{{632,0},{158,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g36_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,188}</string>
                <key>spriteSourceSize</key>
                <string>{158,188}</string>
                <key>textureRect</key>
                <string>{{0,188},{158,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g36_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,188}</string>
                <key>spriteSourceSize</key>
                <string>{158,188}</string>
                <key>textureRect</key>
                <string>{{158,188},{158,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g36_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,188}</string>
                <key>spriteSourceSize</key>
                <string>{158,188}</string>
                <key>textureRect</key>
                <string>{{316,188},{158,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g36_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,188}</string>
                <key>spriteSourceSize</key>
                <string>{158,188}</string>
                <key>textureRect</key>
                <string>{{474,188},{158,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g36_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,188}</string>
                <key>spriteSourceSize</key>
                <string>{158,188}</string>
                <key>textureRect</key>
                <string>{{632,188},{158,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>g36_plist.png</string>
            <key>size</key>
            <string>{790,376}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:107cd6ea8253f0c488c0f40295e28c60:a3b30adccbe7f87e9fbac442e988f401:4babe8b8af5c04769be86e922d595fe3$</string>
            <key>textureFileName</key>
            <string>g36_plist.png</string>
        </dict>
    </dict>
</plist>
